NG_SOAR_PORT=8080
CACAO_ROASTER_PORT=3000
SOARCA_GUI_PORT=8081
SOARCA_PORT=8082
MONGODB_PORT=27017
MQTT_PORT=1883
SOARCA_API_URL=http://soarca:8080
ROASTER_SOARCA_API_BASE=http://127.0.0.1:8082
MONGODB_URI=mongodb://mongodb:27017/soarca
NG_SOAR_MONGODB_URI=mongodb://root:rootpassword@mongodb:27017/?authSource=admin
NG_SOAR_MONGODB_DATABASE=ng_soar
NG_SOAR_SYNC_INTERVAL_MS=10000
CACAO_ROASTER_URL=http://cacao-roaster:3000
SOARCA_GUI_URL=http://soarca-gui:8081
